@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Site.cshtml";
}

<div class="row">
    <div class="col-xs-12">
		@Html.Partial("PageHeader")
        @Umbraco.Field("bodyText")
    </div>
</div>

@Html.Partial( 
    "LandingPageBlock", 
    Model.Content,
    new ViewDataDictionary()
    {
        { "mainCount", @Umbraco.Field("mainItemCount")},
		{ "mainName", "" }
    })